<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Usuarios</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Username</th>
            
            <th>Acciones</th>
        </tr>
        {% for usuario in registros %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>{{ usuario[5] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[6] }}</td>

            <td>
                <a href="/editar/{{ usuario[0] }}">Editar</a>
                <a href="/eliminar/{{ usuario[0] }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/agregar">Agregar Usuario</a>
</body>
</html>
